@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
    font-family: "Inter", serif;
}

*{
    padding: 0;
    margin: 0;
}

section{
    margin-top: 50px;
    padding: 35px 120px;
}

/* shared related styles */


.common-subtitl{
  
}
.common-paragraph{
    color: rgb(112, 112, 112);
font-size: 16px;
font-weight: 500;
}
.common-button{
color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
border-radius: 5px;
padding: 10px 12px;
background: rgb(255, 89, 89);
border: none;
outline: none;
}


/* banner related style */

.banner-container{
    display: flex;
    justify-content: space-between;
    padding: 35px 120px;
}

.banner-img img{
    width: 450px;
    height: 430px;
    border-radius: 15px;
}

.banner-title{
    color: rgb(18, 18, 18);
font-family: Inter;
font-size: 60px;
font-weight: 700;
text-align: left;
}

.banner-content > p{
    margin-top: 20px;
    margin-bottom: 23px;
}

/* donate section related styles */

.donate-section{
    text-align: center;
}

.donate-section >p{
    margin-top: 22px;
}

.donate-container-tk{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin-top: 40px;
}

.donate-tk{
    background-color: lightgrey;
    text-align: center;
    align-items: center;
    padding: 30px 16px;
    border-radius: 5px;
    box-sizing: border-box;
}
.donate-tk:hover{
    box-sizing: border-box;
border: 2px solid rgb(255, 89, 89);
border-radius: 5px;

background: rgb(255, 238, 238);
}

/* for mobile device */

@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column;
        padding: 12px 12px;
    }
    .donate-container-tk{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        margin-top: 30px;
    }
    section{
        margin-top: 50px;
        padding: 15px 20px;
    }
}

/* for tablet device */

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container{
        flex-direction: column;
        padding: 12px 12px;
        
    }

    .donate-container-tk{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .banner-content >h1, p, .banner-content > div{
        text-align: center;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        margin-top: 30px;
    }
    section{
        margin-top: 50px;
        padding: 15px 20px;
    }
} 